<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <p>Добро пожаловать! Спасибо за регистрацию. Пожалуйста, перейдите по этой ссылке, чтобы активировать свою учетную запись:<a href="{{ confirm_url }}">активировать</a></p>
<br>
<p>Если это письмо пришло к вам по ошибке, просто игнорируйте его.</p>
</body>
</html>
