{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

{% if total_price %}
<div class="order-basc">
    <h2>Итоговая цена: {{total_price}} $</h2>
    {% if no_amount %}
    <h2>Не хватает товара! </h2>
    {% endif %}
    {% if order_number %}
    <h4 id="num-order">Заказ № {{order_number}} оформлен</h4>
    {% endif %}
    <form action="/exit_in_bascet" method="post">
        <button type="submit" name="Exit" value='Exit' class="">Закрыть</button>
    </form>
</div>
{% endif %}

<div class="main-lst">
    <div class="profile">
        <h1>Имя: {{name}}</h1>
        <h4>Эл. почта: {{mail}}</h4>
        <h3>Баланс: {{balance}} $</h3>
    </div>
    <ul class="list" id="name-list">
        <li>Товар</li>
        <li>Фото</li>
        <li>Цена</li>
        <li>Кол-во</li>
        <li>В корзине</li>
    </ul>
    <hr>
    {% for i in data_product %}
    <div class="list">
        <ul>
            <li id="li1">{{i.name}}</li>
            <li><a href="/description/{{i.name}}"><img src="/static/{{i.image}}" width="80" height="80"></a></li>
            <li id="price"><p>{{i.price}} $</p></li>
            <li>
                <input type="text" id="amount-bascet" form="order" name="amount_product" value="1" />
            </li>
            {% if not total_price%}
            <li>
                <form action="/remove" method="post">
                    <button type="submit" name="product_remove_for_bascet" value="{{i.id}}" class="">Удалить</button>
                </form>
            </li>
            {% endif %}
        </ul>
        <hr>
        <br>
    </div>
    {% endfor %}
    {% if data_product and not total_price%}
            <form action="#" method="post" id="order">
                <!-- value  содержит цены товаров из корзины -->
                <td></br><button type="submit" name="make_purchase"
                        value="{% for product in data_product%}{{product.price}} {% endfor %}" id="but-order">Оформить
                        заказ&nbsp; </button></td>
            </form>
    {% endif %}
</div>
{% endblock %}