{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
 <h1>корзина товаров {{name}}</h1>
 <h4>{{mail}}</h4>
</br>
 <table class="table">
    <thead>
    <tr>
    <th >Товар</th>
    <th><div class="">Описание</div></th>
    <th><div class="">Фото</div></th>
    <th><div class="">Количество</div></th>
    <th><div class="">Цена (1 ед)</div></th>
    </tr>
    </thead>
    <tbody>
        {% for product in data_product%}
    <tr>
    <td class=""></br>{{product.name}} &nbsp;</td>
    <td class=""></br>{{product.product_story}} &nbsp;</td>
    <td class=""><img src="{{product.image}}" alt="" width="124" height="124"/></td>
    <td class="">
    <input type="text" class="" value="1"/>
    </td>
    <td class=""></br>{{product.price}}</td>
    <form  action="#" method="post">
        <td></br><button type="submit" name="productremove" value="{{product.id}}" class="but-1">Удалить &nbsp; </button></td>
    </form>
        {% endfor %}
    </tr>
    <tr>
        <td class="">Итого: </td>
        <td class=""><div class=""> x $</div></td>
    </tr>
    </tbody>
    </table>



{% endblock %} 

