{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}


<div class="product">
    {% for i in pr.items %}
    <div class="pr">
        <img src="/static/{{i.image}}" alt="" width="440" height="440" />
    </div>
    <div class="description">
        <br>
        <center><h2>{{i.name}}</h2></center>
        <hr>
        <p>{{i.product_story}} 
        <hr>
        <strong>{{i.price}} $</strong>
        {% if  current_user.is_authenticated %}
            {% if  limit!=True %}
        <form  action="#" method="post">
            <button type="submit" name="productname" value="{{i.id}}" class="but-desc">Добавить</button>
        </form>
            {% else %}
        <form action="/remove" method="post">
            <button type="submit" name="product_remove_for_description" value="{{i.id}}" class="but-desc">Удалить</button>
        </form>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    <center>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if pr.has_prev %}
                        <li class="page-item ">
                        <a class="page-link" href="{{ url_for('index_description', page = pr.prev_num) }}" tabindex="-1">Назад</a>
                        </li>
            {% endif %}
            {% if pr.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="{{ url_for('index_description', page = pr.next_num) }}">Вперед</a>
                        </li>
            {% endif %}
        </ul>
    </nav>
    </center>
    </div>
{% endblock %} 
