{% extends 'base.html' %}

{% block content %}
<h2>
   <center>Регистрация</center>
</h2>
<form action="#" method="post" class="registr">
   {{forma.hidden_tag()}}
   {{ forma.email.label() }}
   {% if forma.email.errors %}
   {{ forma.email(class="invalid") }}
   <span class="invalid-1">
      {% for i in forma.email.errors %}
   <center>{{ i }}</center>
      {% endfor %}
   </span>
   {% else %}
   <p>{{ forma.email(placeholder='Введите email') }}
   {% endif %}
   </br>
   <p>{{ forma.name.label() }} {{ forma.name(placeholder='Введите имя') }}
   </br>
   <p>{{ forma.psw.label }} {{ forma.psw(placeholder='Введите пароль') }}
   </br>
   <p>{{ forma.submit() }}
</form>
{% endblock %}