{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}


<div class="main-lst">
    <h2>test-shop.test</h2>
    <br>
    <hr>
    {% if current_user.is_authenticated %}

    {% for i in lst %}
    <div class="list">
        <ul>
            <li id="li1">{{i[0].name}}</li>
            <li><a href="/description/{{i[0].name}}"><img src="/static/{{i[0].image}}" width="80" height="80"></a></li>
            <li id="price"><p>{{i[0].price}} $</p></li>
            {% if i.add %}
            <li>
                <form action="#" method="post">
                    <button type="submit" name="product_name" value="{{i[0].id}}" class="">Добавить</button>
                </form>
            </li>
            {% else %}
            <li>
                <form action="/remove" method="post">
                    <button type="submit" name="product_remove" value="{{i[0].id}}" class="">Удалить</button>
                </form>
            </li>
            {% endif %}
        </ul>
        <hr>
        <br>
    </div>
    {% endfor %}
    {% else %}
    {% for i in data_product %}
    <div class="list">
        <ul>
            <li id="li1">{{i.name}}</li>
            <li><a href="/description/{{i.name}}"><img src="/static/{{i.image}}" width="80" height="80"></a></li>
            <li id="price"><p>{{i.price}} $</p></li>
        </ul>
        <hr>
        <br>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}