{% extends 'bootstrap/base.html' %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/admin">
      <img alt="Brand" src="/static/1.jpg" width="25" height="25">
    </a>
  </div>
  <div class="container-fluid">
    <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Главная страница</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if not current_user.is_authenticated %}
        <li class=""><a href="/autorization">Авторизация<span class="sr-only">(current)</span></a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class=""><a href="/out">Выход<span class="sr-only">(current)</span></a></li>
        {% endif %}
        <li class="active"><a href="/bascet">Корзина</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Прочее<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/order/1">История заказов</a></li>
            <li><a href="/password">Сменить пароль</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/about">О нас</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/post">Оставить отзыв</a></li>
          </ul>
        </li>
        <li class=""><a href="/trend">Хит продаж<span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="navbar-form navbar-left" action="/search" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="search" value="" placeholder="Название товара">
        </div>
        <button type="submit" class="btn btn-default">Искать</button>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}
