{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<h2>
    <center>История заказов</center>
</h2>
<div class="order">
{% for item in list_order %}
  {% for i in item %}  
  товар {{i[0]}}</br>цена: {{i[1]}}, кол-во {{i[2]}} (ед.) </br>     
  {% endfor %}  </br> </br> 
{% endfor %}
</div>
<center>
<dl>
    {% for item in order_number %} 
    <dt><h3>Заказ № {{item.id}}</h3></dt>
        <dd>
            {{item.date}} 
        </dd> </br>
        Сумма заказа: {{item.order_price}}</br></br>
    {% endfor %}
</dl>
</center>
{% endblock %}

