{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}


<div class="order">
    <h2>
        История заказов
    </h2>
    <br>
    <dl>
        {% for item in order_list.items %}
        <dt>
            <h3>Заказ № {{item.id}}</h3>
        </dt>
        <div class="in-order">
            <dd>
                {{item.date}} </br>
                {% for i in item.list_product %}
                <h4> {{i[0]}}</h4>
                    {{i[1]}} $,  {{i[2]}} (ед.) </br>
                {% endfor %}
                
                <h3><a href="/status-pay/{{item.invoice_id}}">Статус заказа</a></h3>
                <h4>Сумма заказа: {{item.order_price}} $</h4></br></br>
            </dd>
        </div>
        {% endfor %}
    </dl>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if order_list.has_prev %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('order_user', page = order_list.prev_num) }}" tabindex="-1">Назад</a>
            </li>
          {% endif %}
          {% for i in order_list.iter_pages() %}
            <li class="page-item"><a class="page-link" href="{{ url_for('order_user',page=i) }}">{{ i }}</a></li>
          {% endfor %}
          {% if order_list.has_next %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('order_user', page = order_list.next_num) }}">Вперед</a>
            </li>
          {% endif %}
        </ul>
      </nav>
</div>
{% endblock %}