{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<center>
<div class="span5">
    <div class="product-preview">
    <div class="picture">
    <img src="static/m.jpg" alt="" width="440" height="440" id="mainPreviewImg"/>
    </div>
    <div class="thumbs">
    <div class="thumb">
    <a href="#mainPreviewImg"><img src="static/bl.jpg" alt="" width="100" height="100"/></a>
    </div>
    <div class="thumb">
    <a href="#mainPreviewImg"><img src="static/1.jpg" alt="" width="100" height="100"/></a>
    </div>
    <div class="thumb">
    <a href="#mainPreviewImg"><img src="static/a.jpg" alt="" width="100" height="100"/></a>
    </div>
    
    </div>
    </div>
    </div>
</center>
{% endblock %} 