body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
}


/*  */











/* hr {
    border: solid 10px darkslateblue;
} */

/* показ невалидного email */
.invalid-1 {
    color: rgb(199, 32, 32);
}

.invalid {
    background-color: rgb(224, 224, 36);
}

/* формы регистрации и авторизации */

#remember {
    text-align: center;
    display: inline-block;
}

.autof {
    width: 340px;
    height: 400px;
    background: #e6e6e6;
    border-radius: 18px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 0 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative
}

#auto {
    font-size: 18px;
}

#resistr {
    font-size: 18px;
}

.reg {
    position: absolute;
    bottom: -40px;
    right: 10px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
}

#reg {
    text-decoration: none;
    color: #e6e6e6;
}

.registr {
    width: 340px;
    height: 400px;
    background: #e6e6e6;
    border-radius: 18px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 30px;
    padding-top: 10px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative
}

.new-psw {
    width: 340px;
    height: 320px;
    background: #e6e6e6;
    border-radius: 18px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 30px;
    padding-top: 10px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative
}

.registr-2 {
    width: 340px;
    height: 540px;
    background: #e6e6e6;
    border-radius: 18px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(40vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}




/* корзина */

.profile {
    padding-left: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#num-order {
    text-align: center;
}

#no-many {
    text-align: center;
}

#name-list {
    font-size: 20px;
    padding-left: 70px;
}

#but-order {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
    float: right;
    margin-bottom: 30px;
    margin-right: 15%;
}

.order-basc {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(180deg, rgba(105, 188, 234, 0.8), rgba(106, 198, 224, 0.8)100%);
    position: absolute;
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
    border-radius: 10px;
}

#amount-bascet {width: 50%;}

input:focus {
    border-bottom: 2px solid #b72e95
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}



/* flash сообщения */
.flash.succes {
    text-align: center;
    width: 30%;
    margin: auto;
    height: 35px;
    font-size: 20px;
    color: rgb(108, 206, 43);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flash.error {
    text-align: center;
    width: 30%;
    margin: auto;
    height: 35px;
    font-size: 20px;
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* отредактировано */


/* главная страница */

.name-product {
    color: #090a11e0;
    font-size: 18px;

}

.but-1 {
    color: #78788c;
    box-shadow: 0 0 50px 10px rgb(217, 211, 211);
}

.but-2 {
    color: #78788c;
    box-shadow: 0 0 50px 10px rgb(217, 211, 211);
    float: right;
    margin-top: 20%;
}

.but-3 {
    color: #78788c;
    box-shadow: 0 0 50px 10px rgb(217, 211, 211);
    float: right;
    margin-right: 10%;
    margin-top: 20%;
}




/* карта оплаты */

.add-card {
    margin-left: 25%;
    width: 50%;
    height: 90%;
    background-color: #a4e7f1;
    position: relative;
    opacity: 1.0;
    border-radius: 10px;
}

.rm-card {
    margin-left: 38%;
    width: 340px;
    height: 140px;
    background: #e6e6e6;
    border-radius: 18px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.rm-bt {
    margin-left: 70%;

    background-color: #e6e6e6;
    box-shadow: 0 0 40px 10px #e6e6e6;
}

/* история заказов */

.order {
    margin-left: 20%;
    margin-top: 2%;
    position: absolute;
}

.in-order {
    width: 200%;
    margin-left: 20%;
    margin-top: 0%;
    background-color: #abdff0;
    opacity: 0.7;
    border-radius: 10px;
}

/* страница тренда */

.price-trend {
    margin-left: 70%;
    font-family: initial;
}

/* description */

.product {

    width: 100%;
    height: 70%;
}

.pr {
    width: 440px;
}

.pr img {
    border-radius: 20px;
}

.description {
    margin-left: 32%;
    margin-top: -30.6%;
    background-color: #f2f2f2;
    width: 60%;
    height: 440px;
    border: 1px;
    border-radius: 20px;
}

.description p {
    padding-left: 10%;
}

.description strong {
    font-size: 220%;
    padding-right: 15%;
    float: right;
}

.next-a {
    font-size: 2em;
    float: right;
    margin-right: 30%;
}

.next-a2 {
    font-size: 2em;
    float: right;
    margin-right: 15%;
}

/* post */

.form-i {
    padding: 50px;
}

.form-i textarea {
    height: 300px;
}

.form-i input,
.form-i textarea {
    display: block;
    width: 60%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-i input[type="submit"] {
    margin-top: 30px;
    background: #abdff0;
    border-bottom: 4px solid #fff;
    color: #2f2f2f;
    font-size: 14px;
    width: 30%;
}

/* index */

.main-lst li {
    display: inline-table;
    margin-right: 6%;
    width: 100px;
}

.main-lst h2 {
    text-align: center;
}

#li1 {
    margin-right: 8%;
    font-size: 20px;
}

#price {
    font-size: 20px;
}

.main-lst li:last-child {
    margin-right: 0;
}


.list {
    padding-left: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-form {
    position: absolute;
    left: 60%;
}